body {
  background-color: #f8f9fa; /* Change this value to the desired background color */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 30rem;
}